# IDE
.idea/
.vscode
.vs
.DS_Store
.worktrees/

# dotenv
.env

data/

# Python
__pycache__/
python/**/*.py[cod]
python/**/*$py.class

# NPM
node_modules/

# mysql
mysql/backup.sql
mysql/get_database
mysql/init/dev-seed.sql
mysql/init/zz-dev-baseline.sql
mysql_backup_query.bash
