$white: #fff;
$gray-100: #fff;
$gray-200: #e0e0e0;
$gray-300: #b0b0b0;
$gray-400: #9e9e9e;
$gray-500: #9e9e9e;
$gray-600: #8a8a8a;
$gray-700: #101010;
$gray-800: #000;
$gray-900: #000;
$black: #000;
$blue: #7aa2ff;
$indigo: #b8f;
$purple: #b8f;
$pink: #ff9dff;
$red: #ff6e5e;
$orange: #ffb86c;
$yellow: #e8e83a;
$green: #3ddb3d;
$teal: #6ff;
$cyan: #3ae0e0;
$primary: #ffe9b0;
$secondary: $gray-300;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-200;
$dark: $black;
$body-bg: $black;
$body-color: $white;
$link-color: $primary;
$link-hover-color: #ffd75e;
$component-active-color: $black;
$component-active-bg: $primary;
$yiq-contrasted-threshold: 150;
$table-color: $body-color;
$table-accent-bg: $gray-700;
$table-hover-bg: $gray-700;
$table-border-color: $gray-600;
$table-dark-bg: $black;
$table-dark-border-color: $gray-600;
$table-dark-color: $body-color;
$input-bg: $black;
$input-disabled-bg: $gray-700;
$input-color: $white;
$input-border-color: $gray-600;
$input-focus-bg: $black;
$input-focus-color: $white;
$input-focus-border-color: #ffd75e;
$input-placeholder-color: $gray-500;
$input-group-addon-bg: $gray-700;
$input-group-addon-color: $white;
$input-btn-focus-box-shadow: none;
$custom-select-indicator-color: $white;
$dropdown-bg: $black;
$dropdown-border-color: $gray-600;
$dropdown-divider-bg: $gray-600;
$dropdown-link-color: $white;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $gray-700;
$dropdown-link-active-color: $black;
$dropdown-link-active-bg: $primary;
$dropdown-link-disabled-color: $gray-500;
$nav-tabs-border-color: $gray-600;
$nav-tabs-link-hover-border-color: $gray-600;
$nav-tabs-link-active-color: $white;
$nav-tabs-link-active-bg: $black;
$nav-tabs-link-active-border-color: $gray-600;
$navbar-dark-color: $white;
$navbar-dark-hover-color: $primary;
$navbar-dark-active-color: $white;
$navbar-dark-disabled-color: $gray-500;
$navbar-dark-toggler-border-color: $gray-600;
$pagination-color: $white;
$pagination-bg: $black;
$pagination-border-color: $gray-600;
$pagination-hover-color: $black;
$pagination-hover-bg: $primary;
$pagination-hover-border-color: $primary;
$pagination-active-color: $black;
$pagination-active-bg: $primary;
$pagination-active-border-color: $primary;
$pagination-disabled-color: $gray-500;
$pagination-disabled-bg: $black;
$pagination-disabled-border-color: $gray-600;
$jumbotron-bg: $black;
$card-border-color: $gray-600;
$card-cap-bg: $gray-700;
$card-bg: $black;
$popover-bg: $black;
$popover-border-color: $gray-600;
$popover-header-bg: $gray-700;
$popover-header-color: $white;
$modal-content-bg: $black;
$modal-content-border-color: $gray-600;
$modal-header-border-color: $gray-600;
$modal-footer-border-color: $gray-600;
$progress-bg: $gray-700;
$progress-bar-color: $black;
$progress-bar-bg: $primary;
$list-group-color: $white;
$list-group-bg: $black;
$list-group-border-color: $gray-600;
$list-group-hover-bg: $gray-700;
$list-group-active-color: $black;
$list-group-active-bg: $primary;
$list-group-active-border-color: $primary;
$list-group-disabled-color: $gray-500;
$list-group-disabled-bg: $black;
$list-group-action-color: $white;
$list-group-action-hover-color: $white;
$breadcrumb-bg: $black;
$breadcrumb-divider-color: $gray-300;
$breadcrumb-active-color: $white;
$close-color: $white;
$close-text-shadow: none;
$pre-color: $white;
$code-color: $pink;
$kbd-bg: $white;
$kbd-color: $black;
$text-muted: $gray-500;
$blockquote-small-color: $text-muted;
$figure-caption-color: $text-muted;
$tooltip-bg: $white;
$tooltip-color: $black;
$border-color: $gray-600;
$columns-picker-modal-bg: $black;
$columns-picker-category-bg: $gray-700;
$columns-picker-option-bg: $black;
$columns-picker-option-color: $white;
$columns-picker-option-hover-bg: $gray-700;
$columns-picker-option-hover-color: $white;
$columns-picker-option-active-bg: $primary;
$columns-picker-option-active-color: $black;
$columns-picker-option-active-border-color: $primary;
